/* Estilo para los elementos con clase "calendar" y "a" en pantallas pequeñas */
.calendar,
.a {
  display: block;
  /* Mostrar como bloque */
}

.calendar {
  padding: 0px;
}

/* Media query para pantallas muy pequeñas */
@media (min-width: 200px) and (max-width: 410px) {

  /* Ocultar los elementos con clase "calendar" y "a" */
  .calendar,
  .a {
    display: none;
    /* Ocultar */
  }
}

/*Estilo para el contenedor de titulo*/
.titleContainer{
  border-bottom: 4px solid red;
}

/*Fuente para el titulo*/
.titleCard{
  font-size: 16px;
}

/*Fuente para la card*/
.textCard{
  font-size: 14px;
  border-bottom: 4px solid #1d1d1d;
  padding-bottom: 15px;
}

/*Estilo para la imagen*/
.imgCard{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  width: 50px;
}

/*Estilo de transicion para el boton*/
.btn{
  font-size: 14px;
  transition: 0.5s;
}

/*Hover para el boton*/
.btn:hover{
  background-color: #BA181B;
  color: white;
}

/*Tamano del input para la card*/
.inputReport{
  width: 95%;
}

/* Etiqueta flotante */
.form-floating>label {
  color: red;
}

/* Etiqueta flotante enfocada o con contenido */
.form-floating .form-control:focus~label,
.form-floating .form-control:not(:placeholder-shown)~label {
  color: red; /* Color rojo */
  /* Color rojo */
}
