/* Estilo para los elementos con clase "calendar" y "a" en pantallas pequeñas */
.calendar,
.a {
  display: block;
  /* Mostrar como bloque */
}

.calendar {
  padding: 0px;
}

/* Media query para pantallas muy pequeñas */
@media (min-width: 200px) and (max-width: 410px) {

  /* Ocultar los elementos con clase "calendar" y "a" */
  .calendar,
  .a {
    display: none;
    /* Ocultar */
  }
}

.graphic{
  border: 1px solid gray;
}

.titleContainer{
  border-bottom: 4px solid red;
}