/* ---------------------- AGREGADOS RECIENTEMENTE----------------------------*/
.contenedor-data{
    border: 1px solid red;
    width: 25vw;
    height: 40vh;
    position: absolute;
    right: 120px;
}

.textInfoContainer {
    top: 0;
    border-bottom: 1px solid #a2a2a2;
}

.svg-icon {
    width: 24px; /* Ajusta según tus necesidades */
    height: 24px; /* Ajusta según tus necesidades */
    fill: currentColor; /* Permite que el color se ajuste según el texto */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #464855;
    border-radius: 15px;
    color: white; /* Cambia el color del texto a blanco cuando está activo */
}

.nav-tabs .nav-item.show .nav-link .svg-icon,
.nav-tabs .nav-link.active .svg-icon > path {
    color: white; /* Cambia el color del SVG a blanco cuando está activo */
    fill: white; /* Asegúrate de que el SVG use blanco como color de relleno */
}

.nav-tabs .nav-item.show .nav-link .svg-icon,
.nav-tabs .nav-link.active .svg-icon > g {
    color: white; /* Cambia el color del SVG a blanco cuando está activo */
    fill: white; /* Asegúrate de que el SVG use blanco como color de relleno */
}

.nav-link{
    border-radius: 15px;
}

/* Estilo para el fondo del cuerpo */
body {
    background-color: #F0F0F7;
    /* Color de fondo gris claro */
}

/* Estilo para el contenedor total */
.contenedor-total {
    display: grid;
    /* Utiliza un layout de cuadrícula */
    gap: 50px;
    /* Espacio entre elementos de 50 píxeles */
}

/* Estilo para el contenedor blanco */
.contenedor-blanco {
    background-color: none;
    /* Color de fondo blanco */
    max-height: 90vh;
    min-height: 90vh;
    width: 90%;
    /* Altura máxima del 85% del viewport */
}

/* Estilo para el contenedor de la barra roja */
.contenedor-ralla {
    background-color: #E5383B;
    width: 80px;
    /* Color de fondo rojo */
}

/* Estilo para la imagen dentro del contenedor de la barra roja */
.contenedor-ralla>img {
    width: 100%;
    /* Ancho completo */
    height: 85vh;
    /* Altura del 85% del viewport */
    object-fit: cover;
    /* Ajuste de la imagen para cubrir el contenedor */
    object-position: bottom;
    /* Posición de la imagen en la parte inferior */
}

/* Estilo para el contenedor de formularios */
.contenedor-form {
    display: grid;
    /* Utiliza un layout de cuadrícula */
    gap: 60px;
    /* Espacio entre elementos de 60 píxeles */
    height: fit-content;
    /* Altura ajustada al contenido */
}

/* Estilo para la línea divisoria R3 */
.lineR3 {
    width: 100%;
    /* Ancho completo */
    height: 2px;
    /* Altura de 2 píxeles */
    background-color: #BA181B;
    /* Color de fondo rojo oscuro */
}

/* Estilo para el contenedor de inputs */
.contenedor-inputs {
    display: grid;
    /* Utiliza un layout de cuadrícula */
    gap: 30px;
    /* Espacio entre elementos de 30 píxeles */
}

/* Estilos para los botones Cancelar y Aceptar */
.btnCancelar,
.btnAceptar {
    background-color: white;
    border-width: 1;
    border-color: #b5b5b5;
    /* Color de fondo negro */
    height: 60px;
    /* Altura de 55 píxeles */
    border-radius: 5px;
    /* Borde redondeado de 5 píxeles */
}

.btnAceptar {
    background-color: #E5383B;
    /* Color de fondo rojo */
}

/* Estilo para el contenedor de botones */
.contenedor_botones {
    display: grid;
    /* Utiliza un layout de cuadrícula */
    gap: 30px;
    /* Espacio entre elementos de 30 píxeles */
}

.contenedor-imagen>img {
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* Estilo para la imagen dentro del contenedor de salida */
.btnExit {
    height: fit-content;
    /* Altura ajustada al contenido */
    width: 100%;
    /* Ancho completo */
}

.btnExit>a>img {
    height: 85%;
    /* Altura del 100% */
    width: 85%;
    /* Ancho del 100% */
}

/* Estilo para la etiqueta de los inputs cuando están enfocados o no están vacíos */
.form-floating .form-control:focus~label,
.form-floating .form-control:not(:placeholder-shown)~label {
    color: red;
    /* Color rojo */
}


/* Estilos para separar los inputs y centrarlos */

/* Centrar el contenido del modal verticalmente */
.modal-dialog {
    display: flex;
    align-items: center;
}

/* Estilos para separar los inputs y centrarlos */

/* Estilo para los inputs */
.content-add-info {
    margin-bottom: 15px;
    /* Espacio entre los inputs */
}

/* Ajustes adicionales según tu diseño específico */
.form-floating {
    width: 100%;
    /* Ancho completo del input */
}

/* Estilos para los botones de guardar y cancelar */
.btnSave,
.btnCancel {
    height: 50px;
    width: 200px;
}

.boton-cambiar-color {
    color: black;
    border-radius: 0;
    /* background-color: none; */
}

.nav-tabs {
    border-width: 0;
}

/* Estilos para el botón de cancelar */
.btnCancel {
    background-color: black;
}

/* Estilos para el botón de guardar */
.btnSave {
    background-color: #E5383B;
}

/* Etiqueta flotante */
.form-floating>label {
    color: red;
}

/* Etiqueta flotante enfocada o con contenido */
.form-floating .form-control:focus~label,
.form-floating .form-control:not(:placeholder-shown)~label {
    color: red;
    /* Color rojo */
    /* Color rojo */
}


/*---------------AGREGADOS */

.ContenedorPestaña {
    min-height: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: none;
}


/* Estilos para el contenido principal */
.contenidoP {
    height: 100%;
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}



/*Card para el togglebutton*/

/*Fuente para el titulo*/
.titleCard {
    font-size: 18px;
}

/*Fuente para la card*/
.textCard {
    font-size: 14px;
    border-bottom: 4px solid #1d1d1d;
    padding-bottom: 15px;
}

.container-scroll {
    min-height: 65vh;
    max-height: 65vh;
    /* Ajusta el valor a la altura máxima deseada */
    overflow-y: auto;
    /* Agrega desplazamiento vertical si el contenido excede la altura máxima */
    overflow-x: hidden;
    /* Evita el desplazamiento horizontal */
}

.container-scroll::-webkit-scrollbar {
    background-color: #1d1d1d;
    width: 12px;
    border-radius: 15px;
}

.container-scroll::-webkit-scrollbar-thumb {
    background-color: #E5383B;
    border-radius: 15px;
}

/* Estilo del toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d1d1d;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #E5383B;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Estilo para que sea redondo */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.cardToggle {
    margin-bottom: 25px;
}